/* styles.css or styles.scss */

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow-x: hidden;
}

body {
    background-image: url('https://www.hau.edu.ph/images/thumbnail-8.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Dark overlay with 50% opacity */
    z-index: -9999;
    /* Set a higher z-index value */
}

.mat-mdc-paginator-container{
    color: wheat;
    background-color: maroon;
}

.mat-mdc-table mat-header-row.mat-mdc-header-row, .mat-mdc-table mat-row.mat-mdc-row, .mat-mdc-table mat-footer-row.mat-mdc-footer-cell{
    color: rgb(255, 255, 255)
}

.mat-mdc-table mat-header-row.mat-mdc-header-row{
    background-color: maroon;
    color: wheat;
}

.mat-mdc-cell mdc-data-table__cell cdk-cell cdk-column-title mat-column-title ng-star-inserted{
    width: 20px;
}

